- content_for :css do
  = stylesheet_link_tag 'jquery-carousel-evolution/carousel.css'
- content_for :javascript do
  = javascript_include_tag 'jquery-carousel-evolution/jquery.mousewheel.min.js', 'jquery-carousel-evolution/jquery.carousel-1.1.js'
  :javascript
    $(document).ready(function(){
      $('.carousel').carousel({
        hAlign:'left',
        vAlign:'center',
        hMargin:1.1,
        vMargin:0.2,
        frontWidth:200,
        frontHeight:665,
        carouselWidth:1200,
        carouselHeight:750,
        left:0,
        right:0,
        top:0,
        bottom:0,
        backZoom:0.8,
        slidesPerScroll:6,
        speed:500,
        buttonNav:'none',
        directionNav:false,
        autoplay: true,
        autoplayInterval:3500,
        pauseOnHover:true,
        mouse:false,
        shadow:false,
        reflection:true,
        reflectionHeight:0.2,
        reflectionOpacity:0.7,
        reflectionColor:'255,255,255',
        description:true, descriptionContainer:'.description',
        backOpacity:1,
        before: function(carousel){},
        after: function(carousel){perform_bundle_hacks()}

      });
      perform_bundle_hacks();
      primera_descripcion_visible();
    });

    function perform_bundle_hacks() {
      auto_sincronizar_y_desvanecer();
      sincronizar_carousel_con_descripciones();
      //blur_image();
      //last_elements_with_low_opacity();
      $('.reflection img').attr('src',function(i,e){
        return e.replace("regular","blurred");
      })
    }

    function sincronizar_carousel_con_descripciones() {
      slides = $('.slides');
      descripciones = $('.product-description .indexed');
      sincronizar_y_desvanecer();
    }

    function primera_descripcion_visible() {
      descripciones.hide();
      descripciones.eq(0).show();
    }
    function sincronizar_y_desvanecer() {
      slide = slides.find('.indexed');

      slide.click(function() {
         slide_index = $(this).index();

         descripciones.hide();
         $('.product-description .indexed:eq(' + slide_index + ')').fadeIn();
      });
    }

    function auto_sincronizar_y_desvanecer() {
      botella_cantidad = $('.botellon').length;
      botella_cantidad = botella_cantidad - 2;

       $('.slides').find('.indexed').filter(function() {
        return $(this).css('z-index') == botella_cantidad;
      }).each(function() {
        slide_index_ = $(this).index();
      });

      $('.product-description .indexed').hide();
      $('.product-description .indexed:eq(' + slide_index_ + ')').fadeIn();
    }

    function blur_image() {
      blur_false = 'regular';
      blur_ = 'blurred';
      slides_list = slides.find('.indexed');
      blur_first_image();

      slides_list.click(function() {
        current_slide = $(this).find('img');
        current_slide_src = current_slide.attr('src');
        current_slide_src_blur = current_slide_src.replace(blur_, blur_false);

        blur_undo();
        current_slide.attr('src', current_slide_src_blur);
        return false;
      });

    }

    function blur_undo() {
      slides_list.each(function() {
        all_slides = $(this).find('img');
        all_slides_src = all_slides.attr('src');
        all_slides_src_blur_false = all_slides_src.replace(blur_false, blur_);
        all_slides.attr('src', all_slides_src_blur_false);
      });
    }

    function blur_first_image() {
      first_image = slides_list.eq(0).find('img');
      first_image_src = first_image.attr('src');
      first_image_src_blur_false = first_image_src.replace(blur_, blur_false);

      first_image.attr('src', first_image_src_blur_false);
    }

    function last_elements_with_low_opacity() {
      slide.filter(function() {
        return $(this).css('z-index') == 5;
      }).each(function() {
        $(this).css('opacity', .4);
      });

      slide.filter(function() {
        return $(this).css('z-index') == 6;
      }).each(function() {
        $(this).css('opacity', .6);
      });

      slide.filter(function() {
        return $(this).css('z-index') == 7;
      }).each(function() {
        $(this).css('opacity', .8);
      });

      slide.filter(function() {
        return $(this).css('z-index') == 8;
      }).each(function() {
        $(this).css('opacity', .9);
      });
    }
