- content_for :css do
  = stylesheet_link_tag 'jquery-carousel-evolution/carousel.css'
- content_for :javascript do
  = javascript_include_tag 'jquery-carousel-evolution/jquery.mousewheel.min.js', 'jquery-carousel-evolution/jquery.carousel-1.1.js'
  :javascript
    $(document).ready(function(){
      $('.carousel').carousel({hAlign:'left', vAlign:'center', hMargin:0.5});                              
    });

