- content_for :javascript do
  = javascript_include_tag 'tinymce/js/tinymce/tinymce.min.js'
  :javascript
    $(document).ready(function() {
      tinymce.init({
        selector: ".tiny-mce"
      });
    });
  
