- page_title! 'Kaptive Stamina Drink Fresh'
#main-presentation
  %h2.page-title
    .caption
      Kaptive Stamina Drink Fresh,
    %span.sub-title.caption
      is a revolution in Energy Drinksss

  .our-brand.resumen-id 
    = image_tag 'img-our-brand.jpg'
    %h3
      Our brand
    %p
      Stamina Drinks, Water and Tea based on the extract of the Peru Coca-Leaf, offer the energy boost and unique health benefits that this natural product brings.

    = link_to 'Read more', '', class: 'link link-read-more'
