= render 'scripts/tiny_mce'

%header
  %h2.page-title
    .caption
      = page_title! 'Create a news'
  .administrate.create
    = link_to 'Back', news_index_path, class: 'button button-back'


.content
  .content-inner
    = render 'form'





