

%header
  %h2.page-title
    .caption
      = page_title! 'Edit contact'
  %span.crud-date
    %span.updated_at
      Last update:
      = l @contact.updated_at, :format => :long
  

.content
  .content-inner
    = render 'form'



