

body {font-family: $font-open-sans; color: '$dark'; line-height: 100%; font-size: 13px; overflow-y: scroll;
background: black}
h1, h2, h3, h4, h5, h6, p, span, li, dd, a, input {color: '$dark'; margin: 0;
line-height: 100%; font-weight: 300; font-family: $font-open-sans}
h2.page-title, h2.title {color: white; @include inline-block;
line-height: 115% }
ul, ol, dl, p {margin: 0} li {list-style: none}
p {line-height: 145%; font-size: 15px; text-align: justify; padding-bottom: 20px}
figure {margin: 0}
section {padding-bottom: $row-bottom;}

#site-wrapper {background: $bg-hojas; -pie-background: $bg-hojas-pie}
.container {}

h2.page-title {
  color: black;
  font-size: $font-heading;
  .caption {
    background: $yellow; line-height: 100%; @extend .captioned;
  }
  .sub-title.caption {
    background: $orange; line-height: 100%; @include inline-block;
    font-size: $font-heading-secondary; margin-left: 55px;
  }
}


header#main-header {
  position: relative;
  @include makeRow();
  h1 {
    #logo {position: absolute; top: 35px; left: 60px}
    @include makeColumn(4);
    height: $header-height;
  }
  .header-components {
    height: $header-height;
    @include makeColumn(8);
    nav.main-menu {
      top: 110px;
      ul {
        @include menu;
      }
    }

    .call-us {top: 35px}
    .call-us,
    nav.main-menu {position: absolute; right: 30px}
  }
}

.call-us {
  @include call_us;
}

section#content {
  position: relative;
  .alert-container {
    @extend .container;
    padding-top: 8px; margin-top: 10px;
    .alert-inner {
      @include makeColumn(12)
    }
  }
}

footer#main-footer {

  background: black;
  .container { height: 255px; position: relative;
    .footer-credits {padding-top: 30px;
      a, p {color: white; line-height: 100%; display: block; margin: 0}
      #autor {text-align: right}
    }
  }

  nav.secondary-menu {
    right: 455px;
    ul {
      @include menu;
      li {
        span {color: $gray}
      }
    }
  }

  .call-us {
    right: 205px; color: $gray-light;
    b {
      color: white;
    }
  }

  .social-links.follow {
    right: 85px;
    @include inline-block-right(15px);
  }

  nav.secondary-menu,
  .call-us,
  .social-links.follow {position: absolute; bottom: 160px}
}

.region {
  @extend .row;
}


.content {
  @include makeRow();
  .content-inner {@include makeColumn(12)}
}

// Admin
.administrate {
  padding-bottom: $row-bottom;
  &.create {}
  &.iterate {padding: 5px 0; text-align: right; z-index: 100; position: relative}
}

#main-presentation {
  width: 1009px; height: 890px; padding-top: 45px;
  position: relative; left: -12px;
  background: $bg-bottles
}
// Inicio
.front #content {
  padding-bottom: 0;
  h2.page-title {padding: 167px 0 0 60px;
    @include absolute(right, top, 15px, 250px);
    background: $raya-1;
  }
}

.not-front #content {
  padding-bottom: 0;
  header {
    margin-left: 40px;
    h2.page-title {
      text-transform: uppercase; font-weight: 600; padding-bottom: 70px;
      font-size: $font-largest; font-size: $font-heading-secondary;
      .caption {
        width: 290px; background: $yellow-2; padding: 15px 0 0 20px;
      }
    }
  }

  .content {
    .content-inner {
      width: 900px; margin-left: 60px; padding-bottom: 50px
    }
  }
}

.our-brand {
  @include absolute(right, top, 40px, 540px);
}
.resumen-id {
  width: 255px; float: left; margin-right: 30px;
  h3 {font-size: $font-large; padding: 10px 0; font-weight: 600; color: $gray-1}
  p {}
  .link.link-read-more {
    color: $green;
  }
}

.product-description {
  @include absolute(right, top, 40px, 540px); z-index: 50;
  .resumen-id {
    @include absolute(right, top, 0px, 0px); background: white;
    .productos-imagen {
    }
  }
}

.slides .description {display: block}


// news
#news-presentation {
  h3 {padding-bottom: 30px; text-transform: uppercase}
  p {font-size: $font-large;}
}


// buttons inheritance
.button {
  &.button-create {
    @extend .btn;
    @extend .btn-info;
  }
  &.button-update {
    @extend .btn;
    @extend .btn-success;
  }
  &.button-delete {
    @extend .btn;
    @extend .btn-warning;
  }
  &.button-back {
  //  @extend .btn;
  // @extend .btn-info;
  @include button;
  }
  &.button-show {
    @extend .btn;
    @extend .btn-info;
  }

}

.content-header {padding-bottom: $row-bottom/2; float: left; clear: left; width: 100%;
  h2.page-title, .button-back {float: left; clear: left}

}

// devise
body[id^="devise"] br {display: none}



