= render 'scripts/tiny_mce'

%header
  %h2.page-title
    .caption
      = page_title! 'New product'

  
  .administrate.create
    = link_to 'Back', products_path, class: 'btn btn-back'


.content
  .content-inner
    = render 'form'

    
